<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="apple-touch-icon" href="{{ asset('assets/images/apple-touch-icon.png') }}">
  <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">
  <!-- Stylesheets -->
  <style>
    .table thead:first-child th {
      background: #4a9bdc !important;
    }
    .site-menubar-hide {
      z-index: 0 !important;
    }
    /*site-menubar-open{*/
    /*  z-index: 9999 !important;*/
    /*}*/
    #container{
      min-height: 70vh;
    }
    [aria-live='polite'] {
      position: relative !important;
    }
    #ow-loading {
      display: none;
      position: fixed;
      background: rgba(0,0,0,0.3);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 99999;
    }
    #ow-loading div {
      z-index: 999999;
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      background: white;
      border: 1px solid #60c6e8;
      padding: 32px 52px 32px 52px;
      text-align: center;
      font-size: 20px;
    }
    .page-hide {
      padding-left: 0px;
      margin-left: 0px !important;
    }
    .checkbox-div-custom{
      display: flex;
      justify-content: center;
      padding-bottom: 3px;
    }
    .navbar-container-hide {
      margin-left: 0px !important;
    }
    .navbar-header-hide {
      width: 0px !important;
    }
    .site-menubar-footer.site-menubar-footer-hide > a{
      height: 60px !important;
    }
    .zakladka{
      position: absolute;
      left: -320px;
      width: fit-content;
      display: flex;
      align-items: self-start;
      top: 32px;
      z-index: 1;
    }
    .zakladka.open{
      left: 0px !important;
      z-index: 9999;
    }
    .zakladka .zakladka-header{
      padding: .75rem 1.25rem;
      background-color: #3a96c7;
      color: white;
      font-weight: 500;
      text-align: center;
      height: 45px;
    }
    .zakladka .zakladka-icon {
      display: inline-block;
      text-align: center;
      border: 1px solid #3a96c7;
      padding: 4px 14px;
      margin-left: -1px;
      border-top-right-radius: 8px;
      font-size: 23px;
      border-bottom-right-radius: 8px;
      background: #3a96c7;
      color: white;
      cursor: pointer;
    }
    .zakladka .zakladka-content {
      width: 320px;
      display: inline-block;
      border: 1px solid #3a96c7;
      background: white;
      overflow: hidden;
    }
  </style>
  {% block stylesheets %}{% endblock %}

  <link rel="stylesheet" href="{{ asset('assets/panel/global/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/css/bootstrap-extend.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/site.css') }}">

  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/animsition/animsition.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/asscrollable/asScrollable.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/switchery/switchery.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/intro-js/introjs.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/slidepanel/slidePanel.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/flag-icon-css/flag-icon.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/waves/waves.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/chartist/chartist.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/jvectormap/jquery-jvectormap.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/bootstrap-sweetalert/sweetalert.css') }}">
{#  <link rel="stylesheet" href="{{ asset('assets/panel/base/examples/css/dashboard/v1.css') }}">#}

  <!-- Fonts -->
  <link rel="stylesheet" href="{{ asset('assets/panel/global/fonts/material-design/material-design.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/fonts/web-icons/web-icons.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/fonts/brand-icons/brand-icons.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/fonts/font-awesome/font-awesome.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/magnific-popup/magnific-popup.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/bootstrap-sweetalert/sweetalert.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/panel/global/vendor/toastr/toastr.css') }}">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  <!--[if lt IE 9]>
    <script src="{{ asset('assets/panel/global/vendor/html5shiv/html5shiv.min.js') }}"></script>

    <![endif]-->
  <!--[if lt IE 10]>
  <script src="{{ asset('assets/panel/global/vendor/media-match/media.match.min.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/respond/respond.min.js') }}"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="{{ asset('assets/panel/global/vendor/breakpoints/breakpoints.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/jquery/jquery.js') }}"></script>
  <script>
  Breakpoints();
  </script>
</head>
<body class="animsition dashboard">
<div id="ow-loading">
  <div>
    <img src="{{ asset('img/ajax_load.gif') }}" alt="loading" />
    <br/>
    <br/>
    <br/>
    Trwa ładowanie, proszę
    <br/>czekać...
  </div>
</div>
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                       data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
{#        <img class="navbar-brand-logo" src="{{ asset('assets/img/skryba.jpg') }}" title="Skryba">#}
        <span class="navbar-brand-text hidden-xs-down" style="font-family: 'Josefin Sans', sans-serif; letter-spacing: 1px; line-height: 1.1; font-size: 28px;"> Skryba</span>
      </div>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="nav-item hidden-float" id="toggleMenubar">
            <a class="nav-link toggle-menubar" data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="nav-item hidden-sm-down" id="toggleFullscreen">
            <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">Toggle fullscreen</span>
            </a>
          </li>
          <li class="nav-item hidden-float">
            <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
            role="button">
              <span class="sr-only">Toggle Search</span>
            </a>
          </li>
        </ul>
        <!-- End Navbar Toolbar -->
        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
{#          <li class="nav-item dropdown">#}
{#            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"#}
{#            aria-expanded="false" role="button">#}
{#              <span class="flag-icon flag-icon-us"></span>#}
{#            </a>#}
{#            <div class="dropdown-menu" role="menu">#}
{#              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">#}
{#                <span class="flag-icon flag-icon-gb"></span> English</a>#}
{#              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">#}
{#                <span class="flag-icon flag-icon-fr"></span> French</a>#}
{#              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">#}
{#                <span class="flag-icon flag-icon-cn"></span> Chinese</a>#}
{#              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">#}
{#                <span class="flag-icon flag-icon-de"></span> German</a>#}
{#              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">#}
{#                <span class="flag-icon flag-icon-nl"></span> Dutch</a>#}
{#            </div>#}
{#          </li>#}
          <li class="nav-item dropdown">
            <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
              <i class="icon md-account" aria-hidden="true" style="font-size: 24px;"></i>
            </a>
            <div class="dropdown-menu" role="menu">
{#              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>#}
{#              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Billing</a>#}
{#              <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>#}
{#              <div class="dropdown-divider"></div>#}
              <a class="dropdown-item" href="/panel/logout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
            </div>
          </li>
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->
      <!-- Site Navbar Seach -->
      <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu" data-plugin="menu">

            <li class="site-menu-category">Kancelaria</li>
            <li class="site-menu-item {% block ListaSpraw %}{% endblock %}">
              <a class="animsition-link" href="{{ path('lista_spraw') }}">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Sprawy</span>
              </a>
            </li>
            <li class="site-menu-item {% block Ustawienia %}{% endblock %}">
              <a class="animsition-link" href="{{ path('ustawienia') }}">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Ustawienia</span>
              </a>
            </li>
          </ul>
          <div class="site-menubar-section">
            <h5>
              Milestone
              <span class="pull-xs-right">30%</span>
            </h5>
            <div class="progress progress-xs">
              <div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
            </div>
            <h5>
              Release
              <span class="pull-xs-right">60%</span>
            </h5>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-menubar-footer">
      <a href="{{ path('ustawienia') }}" class="fold-show" data-placement="top" data-toggle="tooltip"
      data-original-title="Settings">
        <span class="icon md-settings" aria-hidden="true"></span>
      </a>
      <a class="toggle-menubar" href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
        <span class="icon md-eye-off" aria-hidden="true"></span>
      </a>
      <a href="/panel/logout" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
        <span class="icon md-power" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <div class="site-gridmenu">
    <div>
      <div>
        <ul>
          <li>
            <a href="apps/mailbox/mailbox.html">
              <i class="icon md-email"></i>
              <span>Mailbox</span>
            </a>
          </li>
          <li>
            <a href="apps/calendar/calendar.html">
              <i class="icon md-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="apps/contacts/contacts.html">
              <i class="icon md-account"></i>
              <span>Contacts</span>
            </a>
          </li>
          <li>
            <a href="apps/media/overview.html">
              <i class="icon md-videocam"></i>
              <span>Media</span>
            </a>
          </li>
          <li>
            <a href="apps/documents/categories.html">
              <i class="icon md-receipt"></i>
              <span>Documents</span>
            </a>
          </li>
          <li>
            <a href="apps/projects/projects.html">
              <i class="icon md-image"></i>
              <span>Project</span>
            </a>
          </li>
          <li>
            <a href="apps/forum/forum.html">
              <i class="icon md-comments"></i>
              <span>Forum</span>
            </a>
          </li>
          <li>
            <a href="index.html">
              <i class="icon md-view-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page -->
  <div class="page">
    <div class="page-content container-fluid">
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <footer class="site-footer">
    <div class="site-footer-legal">© 2020 Skryba</div>
    <div class="site-footer-right">
      Crafted with <i class="red-600 icon md-favorite"></i> by Slawczi
    </div>
  </footer>

  <!-- Core  -->
  <script src="{{ asset('assets/panel/global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/tether/tether.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/bootstrap/bootstrap.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/animsition/animsition.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/waves/waves.js') }}"></script>
  <!-- Plugins -->
  <script src="{{ asset('assets/panel/global/vendor/switchery/switchery.min.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/intro-js/intro.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/screenfull/screenfull.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/jvectormap/jquery-jvectormap.min.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/matchheight/jquery.matchHeight-min.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/peity/jquery.peity.min.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/bootstrap-sweetalert/sweetalert.js') }}"></script>
  <!-- Scripts -->
  <script src="{{ asset('assets/panel/global/js/State.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Component.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Base.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Config.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/config/colors.js') }}"></script>

  <!-- Page -->
  <script src="{{ asset('assets/panel/global/js/Plugin/asscrollable.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin/slidepanel.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin/switchery.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin/matchheight.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin/jvectormap.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin/peity.js') }}"></script>
  <script src="{{ asset('assets/js/Site.js') }}"></script>


  <script src="{{ asset('assets/panel/global/vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin/magnific-popup.js') }}"></script>
{#  <script src="{{ asset('assets/panel/base/examples/js/advanced/lightbox.js') }}"></script>#}

  <script src="{{ asset('assets/panel/global/vendor/bootstrap-sweetalert/sweetalert.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/toastr/toastr.js') }}"></script>

  <script src="{{ asset('assets/panel/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
  <script src="{{ asset('assets/panel/global/vendor/bootstrap-datepicker/bootstrap-datepickerplmin.js') }}"></script>

  <script src="{{ asset('assets/panel/global/vendor/formatter/jquery.formatter.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin/formatter.js') }}"></script>

{#  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
{#  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}

{#  <script src="{{ asset('assets/panel/custom/shiftbox/js/shiftbox.js') }}"></script>#}

  <script src="{{ asset('assets/panel/global/vendor/bootstrap-select/bootstrap-select.js') }}"></script>
  <script src="{{ asset('assets/panel/global/js/Plugin/bootstrap-select.js') }}"></script>
  <script>
    var $BODY = $('body');
    $BODY.animsition({
      inClass: 'fade-in',
      outClass: 'fade-out',
      inDuration: 800,
      outDuration: 500,
      loading: true,
      loadingClass: 'loader-overlay',
      loadingParentElement: 'html',
      loadingInner: '\n      <div class="loader-content">\n        <div class="loader-index">\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n        </div>\n      </div>',
      onLoadEvent: true
    });

    $( document ).ajaxStart(function() {
      $('#ow-loading').show();
    });

    $( document ).ajaxStop(function() {
      $('#ow-loading').hide();
    });

    function toggleMenubar(){
      $('.page').toggleClass('page-hide');
      $('.navbar-container').toggleClass('navbar-container-hide');
      $('.navbar-header').toggleClass('navbar-header-hide');
      $('.site-menubar-footer').toggleClass('site-menubar-footer-hide');
      $('.site-menubar').toggleClass('site-menubar-hide');
      if($('.icon.hamburger').hasClass('hamburger-arrow-left')){
          $('.icon.hamburger').removeClass('hamburger-arrow-left');
          $('.icon.hamburger').addClass('hamburger-arrow-right');
      }else{
        $('.icon.hamburger').removeClass('hamburger-arrow-right');
        $('.icon.hamburger').addClass('hamburger-arrow-left');
      }
    }

    $('.toggle-menubar').click(function(){
      toggleMenubar();
    });

  </script>

  {% block javascripts %}{% endblock %}

</body>
</html>
