<p><strong>EWA LUDWICZAK-WINTER</strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NOTARIUSZ</strong></p>
<p><strong>64-500 SZAMOTUŁY</strong></p>
<p><strong>PLAC SIENKIEWICZA NR 8</strong></p>
<p><strong>TEL.&nbsp; 0-61&nbsp; 2922294</strong></p>
<p>
    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
</p>
<p><strong>Repertorium A numer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.miejsceZgonu }}/2019&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
</p>
<p><br></p><h4 style="text-align: center;" data-mce-style="text-align: center;"><span
        style="font-family: arial, helvetica, sans-serif; font-size: 36pt;"
        data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 36pt;"><strong><span
        class="lineheight40px">AKT&nbsp;POŚWIADCZENIA DZIEDZICZENIA</span></strong></span></h4><p><br>
</p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
             data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">
    {#Dnia <u>dwudziestego piątego stycznia dwa tysiące dziewiętnastego (25.I.2019)(data kiedy ma być dokonana czynność)</u>&nbsp;roku <strong>ja</strong>#}
    Dnia <u>{{ form.dataCzynnosciSlownie }} ({{ form.dataCzynnosci | date('d.m.Y') }})</u>&nbsp;roku <strong>ja</strong>
    <strong>notariusz Ewa Ludwiczak-Winter </strong>prowadząca Kancelarię Notarialną w Szamotułach przy ulicy Plac Sienkiewicza numer 8 na podstawie art. 95a
    ustawy z dnia 14 lutego 1991 roku Prawo o notariacie po sporządzeniu w dniu dzisiejszym Protokołu &nbsp;dziedziczenia &nbsp;
    repertorium &nbsp;A &nbsp;numer …… {{ form.numerRepertorium }}  /2019 &nbsp;tutejszej Kancelarii,--------------</span>
</p><p style="padding-left: 120px;" data-mce-style="padding-left: 120px;"><span
        style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
        data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"><strong>poświadczam, że:</strong></span>
</p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
             data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">spadek po Imię (imiona) nazwisko {{ form.zgoniarz.getImiona }} {{ form.zgoniarz.nazwisko }}
        spadkodawcy, {% if form.zgoniarz.plec == 1 %}córce{% else %}synu{% endif %} imię ojca {{ form.zgoniarz.imieOjca }} i matki {{ form.zgoniarz.imieMatki }}
    spadkodawcy(odmiana kogo?czego?), <u>{% if form.zgoniarz.plec == 1 %}zmarłej{% else %}zmarłym{% endif %}</u> dnia <u>dwudziestego trzeciego lutego dwa tysiące osiemnastego (23.II.2018)
        roku w Szamotułach(data i miejsce zgonu</u> {{ form.zgoniarz.dataSmierci.getDataSmierciSlownie }}), ostatnio stale <u>zamieszkałym/zamieszkałej (odmiana ze względu na płeć</u>)
        {% if form.zgoniarz.plec == 1 %}zamieszkałej{% else %}zamieszkałym{% endif %} w <u>Szamotułach przy ulicy Obornickiej
        numer 5B/19, (64-500 Szamotuły)(ostatnie miejsce zamieszkania spadkodawcy) {{ form.zgoniarz.miejsceZamieszkania }}</u>
    , (odpis skrócony aktu zgonu wydany Urząd Stanu Cywilnego w <u>miejsce wydania dokumentu(odmiana: gdzie? Np. w Szamotułach)</u>{{ form.miejsceWydaniaAktuZgonu }}
        zgodny z treścią aktu zgonu o oznaczeniu
    <u>3024073/00/AZ/2018/312123 (numer dokumentu) {{ form.numerAktuZgonu }}</u>) z mocy ustawy {% if spadkobiercy|length == 1 %} dziedziczy {% else %} dziedziczą{% endif %}:

        jego <u>syn/córka/mąż/żona/brat/kuzyn/babcia/dziadek Imię (imiona) nazwisko kolejnego spadkobiercy,
        syn imię ojca i matki kolejnego spadkodawcy, data i miejsce urodzenia kolejnego spadkobiercy,

        </u> jego </span><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;" data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"><u>
            syn/córka/mąż/żona/brat/kuzyn/babcia/dziadek Imię (imiona) nazwisko kolejnego spadkobiercy,
    syn imię ojca i matki kolejnego spadkodawcy, data i miejsce urodzenia kolejnego spadkobiercy, </u>oraz jego <u>syn/córka/mąż/żona/brat/kuzyn/babcia/dziadek Imię (imiona)
    nazwisko kolejnego spadkobiercy, syn imię ojca i matki kolejnego spadkodawcy, data i miejsce urodzenia kolejnego spadkobiercy,</u>

        {% foreach spadkobierca in form.spadkobiercy %}
            {% if loop.last %} oraz {% endif %}
                    jego {{ form.spadkobierca.stopienPokrewienstwa }} {{ form.spadkobierca.getImiona }} {{ form.spadkobierca.nazwisko }},
                    {% if form.spadkobierca.plec == 1 %} córka {% else %} syn {% endif %}
            {{ form.spadkobierca.imieOjca }} i matki {{ form.spadkobierca.imieMatki }} {% if form.spadkobierca.plec == 1 %} urodzona {% else %} urodzony {% endif %} {{ form.spadkobierca.getDataUrodzeniaSlownie }}
                    w {{ form.spadkobierca.miejsceUrodzenia }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}

        - po 1/3 (jednej / trzeciej)
    (ile spadkobierców tyle części) części każde z nich/w całości (jeśli jest tylko jeden spadkobierca).---

        - {% if spadkobiercy|length == 1 %}
            w całości
          {% else %}
            po 1 / {{ spadkobiercy|length }}

    </span>
</p>
<ul>
    <li><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
              data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">1 Koszty aktu ponoszą Stawający/Stawająca (odmiana ze względu na płeć jeśli byłby
        tylko jeden spadkobierca) gotówką.----------------------------------------------</span>
    </li>
    <li><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
              data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">2 Wypisy i odpis tego aktu należy wydawać stawającym/stawającemu/stawającej
        (odmiana ze względu na płeć jeśli byłby tylko jeden spadkobierca) i Urzędom Skarbowym w dowolnej ilości.-----------------------</span>
    </li>
    <li><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
              data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">3.1. W związku z dokonaniem czynności pobrano:----------------------------------</span>
    </li>
</ul><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
              data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">a/ <strong>wynagrodzenie notariusza </strong>w myśl §.10a rozporządzenia
    Ministra Sprawiedliwości z dnia 28 czerwca 2004 roku w sprawie maksymalnych stawek taksy notarialnej (tj. Dz.U. z 2018 r. poz. 272) w kwocie………...……...............50,- zł</span>
</p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
             data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">b/ podatek od towarów i usług według stawki 23%</span>
</p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
             data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">od kwoty podanej pod a/ ………….....................11,50 zł</span>
</p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
             data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">c/ <strong>opłatę za wpis do rejestru&nbsp; spadkowego </strong>
    w myśl art. 95 i §.3 ustawy z dnia 14 lutego 1991 r. – Prawo o notariacie (tj. Dz. U. z 2018 r. poz. 398) w wysokości określonej w
    §.1 rozporządzenia Ministra Sprawiedliwości z dnia 7 września 2016 r. w sprawie sposobu uiszczania i wysokości opłaty za wpisy dokonywane w Rejestrze Spadkowym
    przez notariusza albo Sąd (Dz.U.2016, poz. 1420) w kwocie………………………………………….………………..……..……5,- zł</span>
</p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
             data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">razem .........................................................................................................66,50 zł</span>
</p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
             data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"><span
        style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
        data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">Podane w ust. 1 kwoty nie obejmują kosztów 5 wypisów i 1 odpisu wraz z należnym podatkiem VAT
    (w łącznej kwocie <strong>132,84 zł</strong>), która to kwota wraz z podstawą prawną ich pobrania zostanie podana na każdym z wypisów.------------ <br></span></span><span
        style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
        data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"><span
        style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
        data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">3. Kwota do zapłaty ogółem: ..................……………..……………..….199,34 zł </span>
    słownie: sto dziewięćdziesiąt dziewięć złotych trzydzieści cztery grosze.----------</span>
</p><p></p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                    data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">Podatek od towarów i usług pobrano na podstawie ustawy z dnia 11 marca 2004 roku
    o podatku od towarów i usług (tj. Dz.U. z 2019r., poz. 675 ze zm.).-------------------------------------------------------------------------------------------</span>
</p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
             data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">Niniejszy akt poświadczenia dziedziczenia został sporządzony w obecności
    <u>osób/osoby biorących/biorącej</u> udział w spisywaniu powołanego Protokołu dziedziczenia z dnia dzisiejszego repertorium A numer &nbsp;……./2019, to jest:------</span>
</p>
<ol>
    <li style="list-style-type: none;" data-mce-style="list-style-type: none;">
        <ol>
            <li><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                      data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"><u>Imię (imiona) nazwisko kolejnego spadkobiercy</u>, syn imię
                <u>ojca i matki kolejnego spadkodawcy</u>, zamieszkały w <u>Szamotułach przy ulicy Obornickiej numer 5B/20, (64-500 Szamotuły)(adres kolejnego spadkodawcy)</u>
                <u>(odmiana Kogo?Czego?)</u>, legitymującej/legitymującego się dowodem osobistym wydanym za numerem <u>AZH000000 z datą ważności do dnia pierwszego stycznia
                    dwa tysiące dwudziestego (1.I.2020) roku / nieoznaczonym terminem ważności</u>,---------------------------------------------</span>
            </li>
            <li><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                      data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"><u>Imię (imiona) nazwisko kolejnego spadkobiercy</u>, syn imię
                <u>ojca i matki kolejnego spadkodawcy</u>, zamieszkały w <u>Szamotułach przy ulicy Obornickiej numer 5B/20, (64-500 Szamotuły)(adres kolejnego spadkodawcy)
                    (odmiana Kogo?Czego?)</u>, legitymującego/legitymującej się dowodem osobistym wydanym za numerem <u>AZH000000 z datą ważności do dnia pierwszego stycznia
                    dwa tysiące dwudziestego (1.I.2020) roku / nieoznaczonym terminem ważności,</u> --------------------------------------------</span>
            </li>
            <li><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                      data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"><u>Imię (imiona) nazwisko kolejnego spadkobiercy</u>, syn imię
                <u>ojca i matki kolejnego spadkodawcy</u>, zamieszkały w <u>Szamotułach przy ulicy Obornickiej numer 5B/20, (64-500 Szamotuły)(adres kolejnego spadkodawcy)
                    (odmiana Kogo?Czego?)</u>, <u>legitymującej/legitymującego</u> się dowodem osobistym wydanym za numerem <u>AZH000000 z datą ważności do dnia pierwszego stycznia
                    dwa tysiące dwudziestego (1.I.2020) roku / nieoznaczonym terminem ważności</u>,---------------------------------------------<br></span>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"><strong>Niniejszy akt poświadczenia dziedziczenia został odczytany,
                    przyjęty i podpisany.</strong><strong>-----------------------------------------------------------------</strong></span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">Ewa Ludwiczak-Winter</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">NOTARIUSZ</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">Plac Sienkiewicza 8</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">64-500 Szamotuły</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">tel. 061/2922294</span>
                </p>
                <p><br></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">Na oryginale podpisy stawających i notariusza.------------</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Repertorium A
                    numer …………………./2019.---------------</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Odpis ten w dacie aktu
                    wydano ………………………………</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pobrano:
                    -----------------------------------------------------------</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">a/ wynagrodzenie w myśl §.12 Rozporządzenia Ministra Sprawiedliwości
                    z dnia 28 czerwca 2004 roku w sprawie maksymalnych stawek taksy notarialnej (tj. Dz. U. z 2018 r., poz. 272) w kwocie…………………………….…….…18,- zł</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">b/ podatek od towarów i usług stawka 23% od kwoty podanej pod
                    a/ zgodnie z ustawą z dnia 11 marca 2004 roku o podatku od towarów i usług (Dz.U. z 2018 r. poz. 62 ze zm.) w kwocie .......................4,14 zł</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">razem…………………………….....…........................22,14 zł</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">słownie: dwadzieścia dwa złote czternaście groszy.---------</span>
                </p>
                <p><br></p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">Ewa Ludwiczak – Winter</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; notariusz</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">Dnia <u>dwudziestego piątego stycznia dwa tysiące dziewiętnastego (25.I.2019)</u>
                            <u>(data czynności)</u> roku o godzinie &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;, pod numerem &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;niniejszy akt poświadczenia dziedziczenia został zarejestrowany w systemie
                    informatycznym do prowadzenia rejestru aktów poświadczenia dziedziczenia utworzonym przez Krajową Radę Notarialną.
                    -----------------------------------------------------------------------------------------------</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Ewa Ludwiczak-Winter</span>
                </p>
                <p><span style="font-family: arial, helvetica, sans-serif; font-size: 18pt;"
                         data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 18pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Notariusz</span>
                </p></li>
        </ol>
    </li>
</ol><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p>
    <br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br data-mce-bogus="1"></p><p><br data-mce-bogus="1"></p><p>
    <br data-mce-bogus="1"></p><p><br data-mce-bogus="1"></p><p><br data-mce-bogus="1"></p>
<p><br data-mce-bogus="1"></p>