<p style="font-family: 'times new roman', times, serif; color: rgb(0, 0, 0);" data-mce-style="font-family: 'times new roman', times, serif; color: #000000;">
    <p>
        <strong>{{ user.kancelaria.nazwa |upper }}</strong><br />
    {#    <span style="padding-left: 40px;" data-mce-style="padding-left: 40px;">#}
            <strong>NOTARIUSZ</strong><br />
    {#    </span>#}

        <strong>{{ user.kancelaria.kodPocztowy |upper }} {{ user.kancelaria.miasto |upper }}</strong><br />
        <strong>{{ user.kancelaria.adres |upper }}</strong><br />
        <strong>TEL. {{ user.telefon |upper }}</strong>
    </p>
    <p><strong>Repertorium A numer {{ numerSprawy }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
    <p><br></p>
    <h4 style="text-align: center;" data-mce-style="text-align: center;"><span
            style="font-family: arial, helvetica, sans-serif; font-size: 24pt;"
            data-mce-style="font-family: arial, helvetica, sans-serif; font-size: 24pt;"><strong><span
            class="lineheight32px">AKT<br />POŚWIADCZENIA DZIEDZICZENIA</span></strong></span>
    </h4>
    <p><br></p>
    <p><br></p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;" class="lineheight28px">
        <span style="padding-left: 30px; font-family: 'times new roman', times, serif;  font-size: 14pt;"
                 data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt; padding-left: 30px;">
        Dnia {{ form.dataCzynnosci | dataSlownie }} ({{ form.dataCzynnosci | date('d.m.Y') }})&nbsp;roku, <strong>ja</strong>
        <strong>notariusz {{ user.kancelaria.nazwa }} </strong>prowadząca Kancelarię Notarialną w <span class="niepewne" >{{ user.kancelaria.miasto | miasto }}</span>
            przy ulicy <span class="niepewne" >{{ user.kancelaria.adres | ulica }}</span> na podstawie art. 95a
        ustawy z dnia 14 lutego 1991 roku Prawo o notariacie po sporządzeniu w dniu dzisiejszym Protokołu &nbsp;dziedziczenia &nbsp;
        repertorium &nbsp;A &nbsp;numer {{ numerSprawy }}&nbsp;tutejszej Kancelarii,
        </span>
    </p>
    <p style="padding-left: 180px;" data-mce-style="padding-left: 180px;"><span
            style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
            data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;"><strong>poświadczam, że:</strong>
        </span>
    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;" class="lineheight28px">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                 data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">spadek po <span class="niepewne" >{{ zgoniarz.imie | imieMeskieDopelniacz }} {{ zgoniarz.nazwisko | nazwiskoMeskieDopelniacz}}</span>,
            {% if zgoniarz.plec == 1 %}córce{% else %}synu{% endif %} {{ zgoniarz.imieOjca | imieMeskie }} i {{ zgoniarz.imieMatki | imieZenskie }},
            {% if zgoniarz.plec == 1 %}zmarłej{% else %}zmarłym{% endif %} dnia
           {{ form.dataSmierci | dataSlownie }} ({{ form.dataSmierci | date('d.m.Y') }}) roku,
            {% if zgoniarz.plec == 1 %}zamieszkałej{% else %}zamieszkałym{% endif %} w <span class="niepewne" >{{ zgoniarz.miastoZamieszkania | miasto }}</span>
            {% if zgoniarz.typObiektuZamieszkania == 0 %}{{ zgoniarz.numerDomuZamieszkania }}{% if zgoniarz.numerMieszkaniaZamieszkania is not null and zgoniarz.numerMieszkaniaZamieszkania != "" %} / {{ zgoniarz.numerMieszkaniaZamieszkania }}{% endif %}
            {% elseif zgoniarz.typObiektuZamieszkania == 1 %} przy ulicy {{ zgoniarz.nazwaObiektuZamieszkania }} {{ zgoniarz.numerDomuZamieszkania }} {% if zgoniarz.numerMieszkaniaZamieszkania is not null and zgoniarz.numerMieszkaniaZamieszkania != "" %} / {{ zgoniarz.numerDomuZamieszkania }}{% endif %}
            {% elseif zgoniarz.typObiektuZamieszkania == 2 %} os. {{ zgoniarz.nazwaObiektuZamieszkania }} {{ zgoniarz.numerDomuZamieszkania }} {% if zgoniarz.numerMieszkaniaZamieszkania is not null and zgoniarz.numerMieszkaniaZamieszkania != "" %} / {{ zgoniarz.numerDomuZamieszkania }}{% endif %}
            {% elseif zgoniarz.typObiektuZamieszkania == 3 %} przy alei {{ zgoniarz.nazwaObiektuZamieszkania }} {{ zgoniarz.numerDomuZamieszkania }} {% if zgoniarz.numerMieszkaniaZamieszkania is not null and zgoniarz.numerMieszkaniaZamieszkania != "" %} / {{ zgoniarz.numerDomuZamieszkania }}{% endif %}
            {% endif %}
        , (odpis skrócony aktu zgonu wydany Urząd Stanu Cywilnego w {{ form.miejsceWydaniaAktuZgonu | miasto }}
            zgodny z treścią aktu zgonu o oznaczeniu
        <u>{{ form.numerAktuZgonu }}</u>) z mocy ustawy {% if spadkobiorcy|length == 1 %} dziedziczy {% else %} dziedziczą{% endif %}:

                {% for spadkobierca in spadkobiorcy %}
                    <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;" data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">
                            {% if zgoniarz.plec == 1 %}jej{% else %}jego{% endif %} {{ spadkobierca.stopienPokrewienstwa | pokrewienstwoSlownie }} {{ spadkobierca.imie }} {{ spadkobierca.nazwisko }},
                            {% if spadkobierca.plec == 1 %} córka {% else %} syn {% endif %}
                    {{ spadkobierca.imieOjca | imieMeskie }} i {{ spadkobierca.imieMatki | imieZenskie}} {% if spadkobierca.plec == 1 %} urodzona {% else %} urodzony {% endif %} {{ spadkobierca.pesel | dataZPeselu | dataSlownie }}
                    ({{ spadkobierca.pesel | dataZPeselu | date('d.m.Y') }}) roku
                    w <span class="niepewne" >{{ spadkobierca.miejsceUrodzenia | miasto }}</span>
                    {% if spadkobiorcy|length > 1 %}
                        w wysokości <span class="niepewne" >{{ spadkobierca.udzialSpadku }}</span> spadku{% if loop.revindex == 2 %} oraz{% else %}{% if not loop.last %},{% else %}.{% endif %}{% endif %}
                    {% endif %}
                    </span>
                {% endfor %}
            {% if spadkobiorcy|length == 1 %}
             - w całości
            {% endif %}
        </span>
    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                  data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">
            §.1 Koszty aktu ponosi {% if spadkobiorcy|length == 1 and spadkobiorcy[0].plec == 2 %} Stawająca {% else %} Stawający {% endif %} gotówką.
        </span>
    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                  data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">§.2 Wypisy i odpis tego aktu należy wydawać
                {% if spadkobiorcy|length == 1 %}
                    {% if spadkobiorcy[0].plec == 2 %}
                        stawającej
                    {% else %}
                        stawającemu
                    {% endif %}
                {% else %}
                    stawającym
                {% endif %}
                i Urzędom Skarbowym w dowolnej ilości.
        </span>
    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                  data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">
            §.3.1. W związku z dokonaniem czynności pobrano: <span class="niepewne" >  ....  </span>
        </span>
    </p>
    <p style="  text-align: justify;" data-mce-style="text-align: justify;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                  data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">
            a/ <strong>wynagrodzenie notariusza </strong>w myśl §.10a rozporządzenia
        Ministra Sprawiedliwości z dnia 28 czerwca 2004 roku w sprawie maksymalnych stawek taksy notarialnej (tj. Dz.U. z 2018 r. poz. 272) w kwocie
            <span class="niepewne" >
                {{ user.kancelaria.wynagrodzenieNotariusza | number_format(2, '.', ',') }} zł
            </span>
        </span>
    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                 data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">b/ podatek od towarów i usług według stawki 23% od kwoty podanej pod a/
                <span class="niepewne" >
                   {{ (user.kancelaria.wynagrodzenieNotariusza * 0.23) | number_format(2, '.', ',') }} zł
                </span>
        </span>
    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;" class="lineheight28px">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                 data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">c/ <strong>opłatę za wpis do rejestru&nbsp; spadkowego </strong>
        w myśl art. 95 i §.3 ustawy z dnia 14 lutego 1991 r. – Prawo o notariacie (tj. Dz. U. z 2018 r. poz. 398) w wysokości określonej w
        §.1 rozporządzenia Ministra Sprawiedliwości z dnia 7 września 2016 r. w sprawie sposobu uiszczania i wysokości opłaty za wpisy dokonywane w Rejestrze Spadkowym
        przez notariusza albo Sąd (Dz.U.2016, poz. 1420) w kwocie
            <span class="niepewne" >
                {{ (user.kancelaria.oplataZaWpisDoRejestruSpadkowego) | number_format(2, '.', ',') }} zł
            </span>
        </span>
    </p>
    <p style="  text-align: justify;" data-mce-style="text-align: justify;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                 data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">razem
            <span class="niepewne" >
                {{ (user.kancelaria.wynagrodzenieNotariusza + (user.kancelaria.wynagrodzenieNotariusza * 0.23) + user.kancelaria.oplataZaWpisDoRejestruSpadkowego) | number_format(2, '.', ',') }} zł
            </span>
        </span>
    </p>
    <p style="  text-align: justify;" data-mce-style=" text-align: justify;" class="lineheight28px">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                 data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">
            <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
            data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">
                Podane w ust. 1 kwoty nie obejmują kosztów 5 wypisów i 1 odpisu wraz z należnym podatkiem VAT
                (w łącznej kwocie <strong><span class="niepewne" >132,84 zł</span></strong>), która to kwota wraz z podstawą prawną ich pobrania zostanie podana na każdym z wypisów.
                <br>
            </span>
        </span>

    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;" class="lineheight28px">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;"><span
                    style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                    data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">3. Kwota do zapłaty ogółem: <span class="niepewne" >199,34 zł </span></span>
            słownie: <span class="niepewne" >sto dziewięćdziesiąt dziewięć złotych trzydzieści cztery grosze.</span>
        </span>
    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;" class="lineheight28px">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                        data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">Podatek od towarów i usług pobrano na podstawie ustawy z dnia 11 marca 2004 roku
        o podatku od towarów i usług (tj. Dz.U. z 2019r., poz. 675 ze zm.).
        </span>
    </p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;" class="lineheight28px">
        <span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                 data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">Niniejszy akt poświadczenia dziedziczenia został sporządzony w obecności
        <u></u> {% if spadkobiorcy|length == 1 %} osoby biorącej {% else %} osób biorących {% endif %}
            udział w spisywaniu powołanego Protokołu dziedziczenia z dnia dzisiejszego repertorium A numer {{ numerSprawy }}, to jest:
        </span>
    </p>

                {#<li><span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"#}
                          {#data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;"><u>Imię (imiona) nazwisko kolejnego spadkobiercy</u>, syn imię#}
                    {#<u>ojca i matki kolejnego spadkodawcy</u>, zamieszkały w <u>Szamotułach przy ulicy Obornickiej numer 5B/20, (64-500 Szamotuły)(adres kolejnego spadkodawcy)</u>#}
                    {#<u>(odmiana Kogo?Czego?)</u>, legitymującej/legitymującego się dowodem osobistym wydanym za numerem <u>AZH000000 z datą ważności do dnia pierwszego stycznia#}
                        {#dwa tysiące dwudziestego (1.I.2020) roku / nieoznaczonym terminem ważności</u>,---------------------------------------------</span>#}
                {#</li>#}
                {#<li><span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"#}
                          {#data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;"><u>Imię (imiona) nazwisko kolejnego spadkobiercy</u>, syn imię#}
                    {#<u>ojca i matki kolejnego spadkodawcy</u>, zamieszkały w <u>Szamotułach przy ulicy Obornickiej numer 5B/20, (64-500 Szamotuły)(adres kolejnego spadkodawcy)#}
                        {#(odmiana Kogo?Czego?)</u>, legitymującego/legitymującej się dowodem osobistym wydanym za numerem <u>AZH000000 z datą ważności do dnia pierwszego stycznia#}
                        {#dwa tysiące dwudziestego (1.I.2020) roku / nieoznaczonym terminem ważności,</u> --------------------------------------------</span>#}
                {#</li>#}
                {#<li><span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"#}
                          {#data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;"><u>Imię (imiona) nazwisko kolejnego spadkobiercy</u>, syn imię#}
                    {#<u>ojca i matki kolejnego spadkodawcy</u>, zamieszkały w <u>Szamotułach przy ulicy Obornickiej numer 5B/20, (64-500 Szamotuły)(adres kolejnego spadkodawcy)#}
                        {#(odmiana Kogo?Czego?)</u>, <u>legitymującej/legitymującego</u> się dowodem osobistym wydanym za numerem <u>AZH000000 z datą ważności do dnia pierwszego stycznia#}
                        {#dwa tysiące dwudziestego (1.I.2020) roku / nieoznaczonym terminem ważności</u>,---------------------------------------------<br></span>#}
        <p class="lineheight28px">
            <ol>
                {% for spadkobierca in stawajacy %}
                        <li><span style="font-family: 'times new roman', times, serif;  font-size: 14pt;"
                          data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;">
                         {{ spadkobierca.imie }} {{ spadkobierca.nazwisko }},
                        {% if spadkobierca.plec == 1 %} córka {% else %} syn {% endif %}
                        {{ spadkobierca.imieOjca | imieMeskie }} i {{ spadkobierca.imieMatki | imieZenskie }} {% if spadkobierca.plec == 1 %} zamieszkała {% else %} zamieszkały {% endif %} w
                        {#<span class="niepewne" >#}
                                <span class="niepewne" >{{ spadkobierca.miastoZamieszkania  | miasto}}</span>
                        {#</span>#}
                        {% if spadkobierca.typObiektuZamieszkania == 0 %}{{ spadkobierca.numerDomuZamieszkania }}{% if spadkobierca.numerMieszkaniaZamieszkania is not null and spadkobierca.numerMieszkaniaZamieszkania != "" %} / {{ spadkobierca.numerMieszkaniaZamieszkania }}{% endif %}
                        {% elseif spadkobierca.typObiektuZamieszkania == 1 %} przy ulicy {{ spadkobierca.nazwaObiektuZamieszkania }} {{ spadkobierca.numerDomuZamieszkania }} {% if spadkobierca.numerMieszkaniaZamieszkania is not null and spadkobierca.numerMieszkaniaZamieszkania == "" %} / {{ spadkobierca.numerMieszkaniaZamieszkania }}{% endif %}
                        {% elseif spadkobierca.typObiektuZamieszkania == 2 %} os. {{ spadkobierca.nazwaObiektuZamieszkania }} {{ spadkobierca.numerDomuZamieszkania }} {% if spadkobierca.numerMieszkaniaZamieszkania is not null and spadkobierca.numerMieszkaniaZamieszkania == "" %} / {{ spadkobierca.numerMieszkaniaZamieszkania }}{% endif %}
                        {% elseif spadkobierca.typObiektuZamieszkania == 3 %} przy alei {{ spadkobierca.nazwaObiektuZamieszkania }} {{ spadkobierca.numerDomuZamieszkania }} {% if spadkobierca.numerMieszkaniaZamieszkania is not null and spadkobierca.numerMieszkaniaZamieszkania == "" %} / {{ spadkobierca.numerMieszkaniaZamieszkania }}{% endif %}
                        {% endif %},
                        {% if spadkobierca.plec == 1 %} legitymującej {% else %} legitymującego {% endif %} się dowodem osobistym wydanym za numerem {{ spadkobierca.numerDowodu }} z datą ważności do dnia
                        {{ spadkobierca.dataWaznosciDowodu | dataSlownie }} ({{ spadkobierca.dataWaznosciDowodu | date('Y-m-d') }}) roku{% if loop.revindex == 2 %} oraz{% else %}{% if not loop.last %},{% else %}.{% endif %}{% endif %}
                        </span>
                        </li>
                {% endfor %}
            </ol>
        </p>
    <p class="lineheight28px">
        <span style="font-family: 'times new roman', times, serif;  font-size: 18pt;"
             data-mce-style="font-family: 'times new roman', times, serif;  font-size: 14pt;"><strong>Niniejszy akt poświadczenia dziedziczenia został odczytany,
        przyjęty i podpisany.</strong><strong></strong>
        </span>
    </p>
    <p>
        <strong>{{ user.kancelaria.nazwa |upper }}</strong><br />
        <span>
            <strong>NOTARIUSZ</strong>
        </span><br />
        <strong>{{ user.kancelaria.kodPocztowy |upper }} {{ user.kancelaria.miasto |upper }}</strong><br />
        <strong>{{ user.kancelaria.adres |upper }}</strong><br />
        <strong>TEL. {{ user.telefon |upper }}</strong>
    </p>
    <p>
    <p style="padding-left: 200px; text-align: justify;" data-mce-style="padding-left: 200px; text-align: justify;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
             data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">Na oryginale podpisy stawających i notariusza..............</span><br/>
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">Repertorium A
        numer ..........{{ numerSprawy }}</span><br/>
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">Odpis ten w dacie aktu
        wydano ..........</span><br/>
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">Pobrano:
        <span class="niepewne" >[...]</span></span><br/>
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">a/ wynagrodzenie w myśl §.12 Rozporządzenia Ministra Sprawiedliwości
        z dnia 28 czerwca 2004 roku w sprawie maksymalnych stawek taksy notarialnej (tj. Dz. U. z 2018 r., poz. 272) w kwocie <span class="niepewne" >18,- zł</span></span><br/>
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">b/ podatek od towarów i usług stawka 23% od kwoty podanej pod
        a/ zgodnie z ustawą z dnia 11 marca 2004 roku o podatku od towarów i usług (Dz.U. z 2018 r. poz. 62 ze zm.) w kwocie <span class="niepewne" >4,14 zł</span>
        </span><br/>
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">razem <span class="niepewne" >22,14 zł</span> <br/>
                słownie: <span class="niepewne" >dwadzieścia dwa złote czternaście groszy.</span>
        </span>
    </p>
    <p style="padding-left: 300px;" data-mce-style="padding-left: 300px;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
             data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">                                       {{ user.kancelaria.nazwa }}</span>
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">                                                                           notariusz</span>
    </p>
    <p><br></p>
    <p style="text-align: justify;" data-mce-style="text-align: justify;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
             data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">Dnia
                {{ form.dataCzynnosci | dataSlownie }} ({{ form.dataCzynnosci | date('d.m.Y') }})
             roku o godzinie <span class="niepewne" >[...]</span>, pod numerem <span class="niepewne" >[...]</span> niniejszy akt poświadczenia dziedziczenia został zarejestrowany w systemie
        informatycznym do prowadzenia rejestru aktów poświadczenia dziedziczenia utworzonym przez Krajową Radę Notarialną.
        </span>
    </p>
    <p style="padding-left: 300px;" data-mce-style="padding-left: 300px;">
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">                                       {{ user.kancelaria.nazwa }}</span>
        <span style="font-family: 'times new roman', times, serif;  font-size: 12pt;"
              data-mce-style="font-family: 'times new roman', times, serif;  font-size: 12pt;">                                                                           notariusz</span>
    </p>
</p>