{% extends 'layout.html.twig' %}

{#{% form_theme form _self %}#}

{% form_theme form 'form_theme_2.html.twig' _self %}

{% block _akt_dziedziczenia_spadkobiercy_entry_widget %}

    <tr class="collection-element">
        <td class="c-lp valgin-middle">1.</td>
        <td class="pesel">{{ form_widget(form.pesel,{attr:{class:'form-control form-control-sm pesel-validate'}}) }}</td>
        <td>{{ form_widget(form.imie,{attr:{class:'form-control form-control-sm set-rodzaj'}}) }}</td>
        <td>{{ form_widget(form.nazwisko,{attr:{class:'form-control form-control-sm'}}) }}</td>
        <td>{{ form_widget(form.imieOjca,{attr:{class:'form-control form-control-sm'}}) }}</td>
        <td>{{ form_widget(form.imieMatki,{attr:{class:'form-control form-control-sm licz'}}) }}</td>
        <td class="adresTd"><button type="button" class="adres form-control btn-edit btn btn-animate-vertical">Wprowadź adres</button></td>
        <td>{{ form_widget(form.miejsceUrodzenia,{attr:{class:'form-control form-control-sm licz'}}) }}</td>
        <td>{{ form_widget(form.numerDowodu,{attr:{class:'form-control form-control-sm licz'}}) }}</td>
        <td>{{ form_widget(form.dataWaznosciDowodu) }}</td>
        <td>{{ form_widget(form.stopienPokrewienstwa,{attr:{class:'form-control form-control-sm licz'}}) }}</td>
        {#<td>{{ form_widget(form.plec,{attr:{class:'form-control form-control-sm licz'}}) }}</td>#}
        <td>
            <a href="#" class="btn btn-danger usun"><i class=" md-close"></i></a>
        </td>
        {{ form_widget(form.miastoZamieszkania) }}
        {{ form_widget(form.numerDomuZamieszkania) }}
        {{ form_widget(form.numerMieszkaniaZamieszkania) }}
        {{ form_widget(form.typObiektuZamieszkania) }}
        {{ form_widget(form.nazwaObiektuZamieszkania) }}

    </tr>

{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> INZYNIERKA </h1>
            </div>

            {{ form_start(form) }}
                {{ form_row(form.dataCzynnosci) }}
                {{ form_row(form.dataSmierci) }}
                {{ form_row(form.miejsceZgonu) }}
                {{ form_row(form.miejsceWydaniaAktuZgonu) }}
                {{ form_row(form.dataWydaniaAktuZgonu) }}
                {{ form_row(form.numerAktuZgonu) }}
            <table class="table table-bordered">
                <thead>
                <tr class="collection-add text-center">
                    {#<th width="10"></th>#}
                    <th width="150">Pesel</th>
                    <th width="150">Imię</th>
                    <th width="150">Nazwisko</th>
                    <th width="150">Imię ojca</th>
                    <th width="150">Imię matki</th>
                    <th width="200">Adres zamieszkania</th>
                    <th width="200">Miejsce urodzenia</th>
                    <th width="100">Numer dowodu osobistego</th>
                    <th width="125">Data ważności dowodu osobistego</th>
                    {#<th	width="100" >Pokrewieństwo</th>#}
                    {#<th	width="100" >Płeć</th>#}
                    {#<th width="30">Usuń</th>#}
                </tr>
                </thead>
                <tbody>
                <tr class="collection-element" data-id="0">
                    <td class="pesel">{{ form_widget(form.zgoniarz.pesel,{attr:{class:'form-control form-control-sm pesel-validate'}}) }}</td>
                    <td>{{ form_widget(form.zgoniarz.imie,{attr:{class:'form-control form-control-sm set-rodzaj'}}) }}</td>
                    <td>{{ form_widget(form.zgoniarz.nazwisko,{attr:{class:'form-control form-control-sm'}}) }}</td>
                    <td>{{ form_widget(form.zgoniarz.imieOjca,{attr:{class:'form-control form-control-sm'}}) }}</td>
                    <td>{{ form_widget(form.zgoniarz.imieMatki,{attr:{class:'form-control form-control-sm licz'}}) }}</td>
                    <td class="adresTd"><button type="button" class="adres form-control btn-edit btn btn-animate-vertical">Wprowadź adres</button></td>
                    <td>{{ form_widget(form.zgoniarz.miejsceUrodzenia,{attr:{class:'form-control form-control-sm licz'}}) }}</td>
                    <td>{{ form_widget(form.zgoniarz.numerDowodu,{attr:{class:'form-control form-control-sm licz'}}) }}</td>
                    <td>{{ form_widget(form.zgoniarz.dataWaznosciDowodu) }}</td>
                    {{ form_widget(form.zgoniarz.miastoZamieszkania) }}
                    {{ form_widget(form.zgoniarz.numerDomuZamieszkania) }}
                    {{ form_widget(form.zgoniarz.numerMieszkaniaZamieszkania) }}
                    {{ form_widget(form.zgoniarz.typObiektuZamieszkania) }}
                    {{ form_widget(form.zgoniarz.nazwaObiektuZamieszkania) }}
                    {#<td>{{ form_widget(form.zgoniarz.dataUrodzenia) }}</td>#}
                    {#<td>{{ form_widget(form.zgoniarz.stopienPokrewienstwa,{attr:{class:'form-control form-control-sm licz'}}) }}</td>#}
                    {#<td>{{ form_widget(form.zgoniarz.plec,{attr:{class:'form-control form-control-sm licz'}}) }}</td>#}
                </tr>
                </tbody>
            </table>
                <table class="table table-bordered">
                    <thead>
                    <tr class="collection-add text-center">
                        <th width="10"></th>
                        <th width="150">Pesel</th>
                        <th width="150">Imię</th>
                        <th width="150">Nazwisko</th>
                        <th width="150">Imię ojca</th>
                        <th width="150">Imię matki</th>
                        <th width="200">Adres zamieszkania</th>
                        <th width="200">Miejsce urodzenia</th>
                        <th width="100">Numer dowodu osobistego</th>
                        <th width="125">Data ważności dowodu osobistego</th>
                        <th	width="100" >Pokrewieństwo</th>
                        {#<th	width="100" >Płeć</th>#}
                        <th width="30">Usuń</th>
                    </tr>
                    </thead>
                    <tbody class="collection" data-prototype="{{ form_widget(form.spadkobiercy.vars.prototype)|e }}" data-prototype-name="__name__">
                    {% for pozycja in form.spadkobiercy %}
                        {{ form_widget(pozycja) }}
                    {% endfor %}
                    <tr class="collection-add">
                        <td colspan="12"><a class="dodaj-element btn btn-default btn-sm"><i class="icon md-plus " aria-hidden="true"></i>Dodaj pozycję</a></td>
                    </tr>
                    </tbody>
                </table>
                {#{{ form_row(form.spadkobiercy) }}#}
                {#{{ form_row(form.stawajacy) }}#}

                {{ form_row(form.numerSkroconegoAktuMalzenstwaMalzonka) }}
                {{ form_row(form.numerSkroconegoAktuMalzenstwaPotomka) }}
                {#{{ form_row(form.spadkobiercy) }}#}

            <button class="btn btn-primary pull-right" style="float: right;" type="submit">Generuj</button>
            {{ form_end(form) }}

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="adresModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Wprowadź adres</h2>
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                        {#<span aria-hidden="true">&times;</span>#}
                    {#</button>#}
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-xs-12 col-md-2 form-control-label form-control-sm col-sm-2 control-label">
                            Miasto
                        </label>
                        <div class="col-md-10">
                            <input  id="adresMiasto" type="text" class="adresMiasto form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12 col-md-2 form-control-label form-control-sm col-sm-2 control-label">
                            Typ
                        </label>
                        <div class="form-group col-md-10">
                            <select id="adresTypObiektu" class="adresTypObiektu form-control">
                                <option value="0">Brak</option>
                                <option value="1">Ulica</option>
                                <option value="2">Osiedle</option>
                                <option value="3">Aleja</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12 col-md-2 form-control-label form-control-sm col-sm-2 control-label">
                            Nazwa
                        </label>
                        <div class="col-md-10">
                            <input id="adresNazwaObiektu" type="text" class="adresNazwaObiektu form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12 col-md-2 form-control-label form-control-sm col-sm-2 control-label">
                            Numer domu
                        </label>
                        <div class="col-md-10">
                            <input id="adresNumerDomu" type="text" class="adresNumerDomu form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12 col-md-2 form-control-label form-control-sm col-sm-2 control-label">
                            Numer mieszkania
                        </label>
                        <div class="col-md-10">
                            <input id="adresNumerMieszkania" type="text" class="adresNumerMieszkania form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary zapiszAdres">Save changes</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {#<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>

        $(document).ready(function() {

            $(document).on('click', '.adres', function(){
                $('#adresModal').modal('show');
                var id = $(this).parents('tr').attr('data-id');
                $('.zapiszAdres').attr('data-id', id);
                var $tr = $('.collection-element[data-id='+id+']');

                $('.adresMiasto').val($tr.children('input[name*=miastoZamieszkania]').val());
                $('.adresTypObiektu').val($tr.children('input[name*=numerDomuZamieszkania]').val());
                $('.adresNazwaObiektu').val($tr.children('input[name*=numerMieszkaniaZamieszkania]').val());
                $('.adresNumerDomu').val($tr.children('input[name*=typObiektuZamieszkania]').val());
                $('.adresNumerMieszkania').val($tr.children('input[name*=nazwaObiektuZamieszkania]').val());


                // $tr.children('input[name=*miastoZamieszkania]').val(adresMiasto);
                // $tr.children('input[name=*numerDomuZamieszkania]').val(adresTypObiektu);
                // $tr.children('input[name=*akt_dziedziczenia[spadkobiercy][0][numerMieszkaniaZamieszkania]]').val(adresNazwaObiektu);
                // $tr.children('input[name=*typObiektuZamieszkania]').val(adresNumerDomu);
                // $tr.children('input[name=*nazwaObiektuZamieszkania]').val(adresNumerMieszkania);
                //
                // var adresMiasto = $('.adresMiasto').val();
                // var adresTypObiektu = $('.adresTypObiektu').val();
                // var adresNazwaObiektu = $('.adresNazwaObiektu').val();
                // var adresNumerDomu = $('.adresNumerDomu').val();
                // var adresNumerMieszkania = $('.adresNumerMieszkania').val();
            });



            $(document).on('focusout', '.pesel-validate', function(){
                var pesel = $(this).val();
                // var wiersz = $(this).parents('tr').attr('data-id');
                var $tr= $(this).parents('tr');
                if(pesel !== "") {
                    console.log(pesel);
                    // if (pesel.match(/^[0-9]{11}$/)) {

                        $.ajax({
                            type: "POST",
                            dataType: 'json',
                            data: {
                                'pesel': pesel,
                            },
                            url: Routing.generate('sprawdz_pesel'),
                        }).done(function (response) {
                            if (response['status']) {
                                if (response['osoba'] !== null) {
                                    console.log(response['osoba']);
                                    $tr.find('input[name*=imie]').val(response['osoba']['imie']);
                                    $tr.find('input[name*=nazwisko]').val(response['osoba']['nazwisko']);
                                    $tr.find('input[name*=imieOjca]').val(response['osoba']['imieOjca']);
                                    $tr.find('input[name*=imieMatki]').val(response['osoba']['imieMatki']);
                                    $tr.find('input[name*=miejsceUrodzenia]').val(response['osoba']['miejsceUrodzenia']);
                                    $tr.find('input[name*=miastoZamieszkania]').val(response['osoba']['miastoZamieszkania']);
                                    $tr.find('input[name*=numerDomuZamieszkania]').val(response['osoba']['numerDomuZamieszkania']);
                                    $tr.find('input[name*=numerMieszkaniaZamieszkania]').val(response['osoba']['numerMieszkaniaZamieszkania']);
                                    $tr.find('input[name*=typObiektuZamieszkania]').val(response['osoba']['typObiektuZamieszkania']);
                                    $tr.find('input[name*=nazwaObiektuZamieszkania]').val(response['osoba']['nazwaObiektuZamieszkania']);
                                    $tr.find('input[name*=numerDowodu]').val(response['osoba']['numerDowodu']);
                                    // $tr.find('input[name*=dataWaznosciDowodu]').val(response['osoba']['dataWaznosciDowodu']);
                                    $tr.find('input[name*=dataWaznosciDowodu]').datepicker("setDate", new Date(response['osoba']['dataWaznosciDowodu']) );
                                }
                            } else {
                                swal('Uwaga!', 'Podany pesel jest niepoprawny!', 'warning');
                                $tr.children('.pesel').children('input[name*=pesel]').val('');
                            }
                        });
                    // } else {
                    //     swal('Uwaga!', 'Podany pesel jest niepoprawny!', 'warning');
                    //     $tr.children('.pesel').children('input[name*=pesel]').val('');
                    // }
                }
            });

            $('.zapiszAdres').click(function(){
                var id = $(this).attr('data-id');
                var adresMiasto = $('.adresMiasto').val();
                var adresTypObiektu = $('.adresTypObiektu').val();
                var adresNazwaObiektu = $('.adresNazwaObiektu').val();
                var adresNumerDomu = $('.adresNumerDomu').val();
                var adresNumerMieszkania = $('.adresNumerMieszkania').val();
                var $tr = $('.collection-element[data-id='+id+']');
                $tr.children('input[name*=miastoZamieszkania]').val(adresMiasto);
                $tr.children('input[name*=numerDomuZamieszkania]').val(adresTypObiektu);
                $tr.children('input[name*=numerMieszkaniaZamieszkania]').val(adresNazwaObiektu);
                $tr.children('input[name*=typObiektuZamieszkania]').val(adresNumerDomu);
                $tr.children('input[name*=nazwaObiektuZamieszkania]').val(adresNumerMieszkania);

                if(adresMiasto !== "" && adresNumerDomu !== "" ){
                    $tr.children('.adresTd').children('.adres').html("Edytuj adres");
                    // $tr.children('.adresTd').children('.adres').val("Edytuj adres");
                    // $tr.children('.adresTd').children('.adres').attr('label', "Edytuj adres");
                    $('#adresModal').modal('hide');
                }else{
                    swal('Uwaga!', 'Uzupełnij rodzaje odzieży!', 'warning');
                }
            });


            $('#akt_dziedziczenia_miastoNieruchomosci').parent('.col-md-8').parent('.form-group').hide();
            $('#akt_dziedziczenia_ksiegaWieczystaNieruchomosci').parent('.col-md-8').parent('.form-group').hide();

            $('#akt_dziedziczenia_zmianaWlascicielaNieruchomosci').click(function() {
                if ($(this).is(":checked")) {
                    $('#akt_dziedziczenia_miastoNieruchomosci').parent('.col-md-8').parent('.form-group').show();
                    $('#akt_dziedziczenia_ksiegaWieczystaNieruchomosci').parent('.col-md-8').parent('.form-group').show();
                } else if ($(this).is(":not(:checked)")) {
                    $('#akt_dziedziczenia_miastoNieruchomosci').parent('.col-md-8').parent('.form-group').hide();
                    $('#akt_dziedziczenia_ksiegaWieczystaNieruchomosci').parent('.col-md-8').parent('.form-group').hide();
                }
            });


            $('.form-date').datepicker({
                format: "yyyy-mm-dd",
                language: "pl",
                orientation: "bottom auto",
                autoclose: true
            });
            if($('.collection-element').length==0) {
                addTagForm($('.collection'));
                // addTagForm($('.collection'));
            }
            $(document).on('click','.dodaj-element',function (e) {
                e.preventDefault();
                addTagForm($(this).parents('.collection').eq(0));
            });
            $(document).on('click',".usun",function(e){
                e.preventDefault();
                var $obj = $(this).parents('.collection-element').eq(0);
                if(!$obj.next().hasClass('collection-element') && !$obj.next().hasClass('collection-add')){
                    $obj.next().remove();
                }
                $obj.remove();
                przeliczRow();
            });
        });

        function przeliczRow(){
            var $collectionHolder = $('.collection');
            var index = 1;
            $collectionHolder.children('.collection-element').each(function(){
                $(this).attr('data-id', index);
                $(this).children('.c-lp').html(index);
                index++;
            });
        }

        function addTagForm($collectionHolder) {
            var prototype = $collectionHolder.data('prototype');
            var index =($collectionHolder.data('index'))?$collectionHolder.data('index'):$collectionHolder.children('.collection-element').length;
            var newForm = prototype.split($collectionHolder.attr('data-prototype-name')).join(index);
            $collectionHolder.data('index', index + 1);
            $collectionHolder.find('.collection-add').last().before(newForm);
            $('.form-date').datepicker({
                format: "yyyy-mm-dd",
                language: "pl",
                orientation: "bottom auto",
                autoclose: true
            });
            przeliczRow();
        }
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    .page-content {
        padding: 10px 30px !important;
    }
    .modal-content{
        padding: 30px;
    }
    .modal-dialog {
        width: 1000px !important;
        max-width: initial !important;
    }
    .form-group .form-control-label{
        font-size: 15px !important;
        font-weight: 500 !important;
    }

    @media (min-width: 768px) {
        #wrapper { width: 97%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
