{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input style="display: none" type="text" name="fakeusernameremembered" class="fake-autofill-fields"/>
        <input style="display: none" type="password" name="fakepasswordremembered" class="fake-autofill-fields"/>

        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="text" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="off" />
            <label class="floating-label">E-mail</label>
        </div>
        <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control" name="_password" required="required" autocomplete="off"/>
            <label class="floating-label">{{ 'security.login.password'|trans }}</label>
        </div>
        <div class="form-group clearfix">
            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-xs-left">
                <input type="checkbox" id="inputCheckbox" name="_remember_me" value="on">
                <label for="inputCheckbox">{{ 'security.login.remember_me'|trans }}</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">{{ 'security.login.submit'|trans }}</button>


    </form>
{% endblock fos_user_content %}
